<!--<h2 class="text-center" *ngIf="selectedUserName">Wybrano: {{ selectedUserName }}</h2>-->
<!--<app-users (selectedUserEmitter)="catchUser($event)"></app-users>-->
<!--<app-add-user></app-add-user>-->

<router-outlet></router-outlet>
