<div class="container mt-3 mb-3">
  <form appForm (ngSubmit)="formData()">

    <div class="mb-3">
      <label for="image" class="form-label">Link do obrazka</label>
      <input [formControl]="image" class="form-control" id="image" name="image" placeholder="Podaj link (URL) do obrazka...">
    </div>

    <div class="mb-3">
      <label for="firstName" class="form-label">Imię*</label>
      <input appIsValid [formControl]="firstName" class="form-control" id="firstName" name="firstName" placeholder="Podaj swoje imię...">
      <app-error-label class="invalid-feedback" [control]="firstName"></app-error-label>
    </div>

    <div class="mb-3">
      <label for="lastName" class="form-label">Nazwisko*</label>
      <input appIsValid [formControl]="lastName" class="form-control" id="lastName" name="lastName" placeholder="Podaj swoje nazwisko...">
      <app-error-label class="invalid-feedback" [control]="lastName"></app-error-label>
    </div>

    <div class="mb-3">
      <label for="age" class="form-label">Wiek*</label>
      <input appIsValid [formControl]="age" type="number" step="1" class="form-control" id="age" name="age" placeholder="Podaj swoj wiek...">
      <app-error-label class="invalid-feedback" [control]="age"></app-error-label>
    </div>

    <div class="mb-3">
      <label for="salary" class="form-label">Wynagrodzenie*</label>
      <input appIsValid [formControl]="salary" type="number" step="500" class="form-control" id="salary" name="salary" placeholder="Podaj swoje wynagrodzenie...">
      <app-error-label class="invalid-feedback" [control]="salary"></app-error-label>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email*</label>
      <input appIsValid [formControl]="email" type="email" class="form-control" id="email" name="email" placeholder="Podaj email (5-50 znaków)...">
      <app-error-label class="invalid-feedback" [control]="email"></app-error-label>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Hasło*</label>
      <input appIsValid [formControl]="password" type="password" class="form-control" id="password" name="password" placeholder="Wpisz hasło (5-255 znaków)...">
      <app-error-label class="invalid-feedback" [control]="password"></app-error-label>
    </div>

    <div class="mb-3">
      <label for="passwordConfirm" class="form-label">Powtórz hasło*</label>
      <input appIsValid [formControl]="passwordConfirm" type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" placeholder="Powtórz hasło (5-255 znaków)...">
      <app-error-label class="invalid-feedback" [control]="password"></app-error-label>
      <div class="ownInvalid" *ngIf="form?.hasError('passwordsNotSame')">Hasła są niezgodne!</div>
    </div>

    <div class="mb-3">
      <label for="creditCardNo" class="form-label">Nr karty kredytowej</label>
      <input [formControl]="creditCardNo" class="form-control" id="creditCardNo" name="creditCardNo" placeholder="Podaj numer karty kredytowej...">
    </div>

    <button type="submit" class="btn btn-primary float-end">Zapisz</button>
    <a routerLink="/users" class="btn btn-outline-primary">Cofnij</a>

  </form>
</div>
