<div *ngIf="control.hasError('required')">
  Pole jest wymagane!
</div>

<div *ngIf="control.hasError('pattern')">
  Pole musi zaczynać się z dużej litery oraz posiadać od 2 do 20 małych znaków!
</div>

<div *ngIf="control.hasError('email')">
  Pole musi być poprawnym adresem email!
</div>

<div *ngIf="control.hasError('min')">
  Minimalna wartość to {{ control.getError('min').min }},
  wpisałeś {{ control.getError('min').actual }}!
</div>

<div *ngIf="control.hasError('max')">
  Maksymalna wartość to {{ control.getError('max').max }},
  wpisałeś {{ control.getError('max').actual }}!
</div>

<div *ngIf="control.hasError('minlength')">
  Minimalna długość to {{ control.getError('minlength').requiredLength }},
  wpisałeś {{ control.getError('minlength').actualLength }}!
</div>

<div *ngIf="control.hasError('maxlength')">
  Maksymalna długość to {{ control.getError('maxlength').requiredLength }},
  wpisałeś {{ control.getError('maxlength').actualLength }}!
</div>

