<p *ngIf="!users.length">Trwa oczekiwanie na dane...</p>

<div class="container-fluid mt-3">
  <table *ngIf="users.length" class="table table-bordered">
    <tbody>
    <tr *ngFor="let user of users;
    let index = index;
    let first = first;
    let last = last;
    let even = even;
    let odd = odd;"
        [ngClass]="{yellow: user.isExpanded, aqua: !user.isExpanded}">
      <td>
        <img class="img-thumbnail" [src]="user.image" alt=""/>
      </td>
      <td>
        <p appBold>imię: {{ user.firstName | titlecase }}</p>
        <p appBold appMyDirective>nazwisko: {{ user.lastName | uppercase }}</p>
        <!-- <p>nazwisko: {{ user.lastName | myUppercase }}</p> -->
        <div *ngIf="user.isExpanded">
          <p appBold>data utworzenia: {{ user.createdAt | date : 'short' }}</p>
          <p appBold>wiek: {{ user.age | number : '1.0-0' }}</p>
          <p appBold>wypłata: {{ user.salary | currency: 'EUR' }}</p>
          <p appBold appMyDirective>nr karty: {{ user.creditCardNo | creditCard : '*' }}</p>
          <app-test firstName="Tomasz"></app-test>
        </div>
        <div class="d-flex justify-content-evenly">
          <button class="btn btn-info btn-sm" *ngIf="!user.isExpanded" (click)="setIsExpanded(index, user, true)">więcej</button>
          <button class="btn btn-dark btn-sm" *ngIf="user.isExpanded" (click)="setIsExpanded(index, user, false)">mniej</button>
          <a [routerLink]="'/user/' + user.id" class="btn btn-warning btn-sm">edytuj</a>
          <button class="btn btn-danger btn-sm" (dblclick)="deleteItem(index, user)">usuń</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <a routerLink="/add-user" class="btn btn-primary float-end">dodaj nowego użytkownika</a>
</div>

